@using RBT.Kentico.Xperience.Custom.Widgets.HeroImage
@model HeroImageWidgetViewModel
@if (Model != null && Model.IsVisible)
{
    @if (Model.ContentBefore != null)
    {
        @Html.Raw(Model.ContentBefore)
    }
    <div class="@Model.HeroImageCSSClass">
        <picture>
            <source media="(max-width: 767px)" srcset="@Model.MobileImage" /> <!-- Mobile image -->
            <source media="(min-width: 768px)" srcset="@Model.DesktopImage" /> <!-- Tab image -->
            <img src="@Model.DesktopImage"
                 alt="@Model.ImageAltText"
                 style="width: 100%; display: block;" /> <!-- Ensure the image spans the container -->
        </picture>
    </div>
    <div class="@Model.HeroImageTitleCSSClass">
        <h1> @Model.HeroImageTitle</h1>
        @if (Model.EnableCTAButton == true && !string.IsNullOrEmpty(Model.CTAButtonText))
        {
            <div class="d-flex">
                <a href="@Model.CTAButtonUrl" target="@Model.CTAButtonTarget" class="@Model.CTAButtonCssClass">
                    @Model.CTAButtonText
                </a>
            </div>
        }
    </div>
    @if (Model.ContentAfter != null)
    {
        @Html.Raw(Model.ContentAfter)
    }
}